* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.main_header{
    font-family: 'Arima', cursive;
    font-weight: bolder;
    font-size:500%;
}

.header input{
    padding: 10px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: larger;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 13px;
    text-align: center;
    margin-left: 100px;
    display: inline-block;
}



.info{
    align-items: center;
    text-align: center;
    font-weight: bolder;
    font-size: 27px;
    background-color: rgba(243, 243, 243, 0.21);
}

.city,.temp,.desc,.minmax{
    font-family: 'Gulzar', serif;
    color: black;
    font-size: 30px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2) ;
}

.searchIcon{
    width: 100px ;
    height:50px;   
}

.searchButton{
    border: 0;
    background: transparent;
    text-decoration: none;
    box-shadow: none;
    display: inline-block;
}